[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProfoundData"]
	path = ProfoundData
	url = https://github.com/cost-fp1304-profound/profounddata
	subdir = ProfoundData
